<h1 class="title">Projects</h1>
<div class="projects-wrapper">
  <div class="project neumorphism-card">
    <h3>Campus Crave</h3>
    <p>A meal delivery app for college students built using Flutter and Django.</p>
    <a class="highlight-link" href="https://github.com/juanpaperez9/campus-crave">View on GitHub</a>
  </div>
  <div class="project neumorphism-card">
    <h3>Language AI</h3>
    <p>AI for real-time translation and interactive language learning.</p>
    <a class="highlight-link" href="https://github.com/juanpaperez9/language-ai">View on GitHub</a>
  </div>
</div>
