<h1 class="title">Timeline</h1>
<div class="timeline-wrapper">
  <ul class="timeline">
    <li>
      <div class="direction-l">
        <span class="flag">Started College</span>
        <span class="time">2022</span>
        <div class="desc">Began studying at Knox College.</div>
      </div>
    </li>
    <li>
      <div class="direction-r">
        <span class="flag">Internship at Lavner Education</span>
        <span class="time">2024</span>
        <div class="desc">Taught robotics and coding to kids aged 6–14.</div>
      </div>
    </li>
    <li>
      <div class="direction-l">
        <span class="flag">Wind Simulation</span>
        <span class="time">2024</span>
        <div class="desc">Developed a parallel wind simulation project.</div>
      </div>
    </li>
  </ul>
</div>
