<h1 class="title">Contact Me</h1>
<p class="subtitle">
  Let's get in touch! Feel free to reach out through email or connect with me on GitHub or LinkedIn.
</p>

<div class="contact-icons">
  <a class="social-link email" aria-label="My E-Mail" href="mailto:jpperezmejia@knox.edu">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use xlink:href="/assets/img/solid.svg#envelope"></use>
      </svg>
    </div>
  </a>
  <a class="social-link github" aria-label="My GitHub" target="_blank" href="https://github.com/juanpaperez9">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use xlink:href="/assets/img/brands.svg#github"></use>
      </svg>
    </div>
  </a>
  <a class="social-link linkedin" aria-label="My LinkedIn" target="_blank" href="https://linkedin.com/in/juanpaperez9">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use xlink:href="/assets/img/brands.svg#linkedin-in"></use>
      </svg>
    </div>
  </a>
</div>
